.nav11{
    background-color:rgb(224, 218, 218);
    height: 2.5rem;
}
.mainnav{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    column-gap: 3rem;
    padding: 0.5rem;
    margin-right: 4rem;
}
.mainnav li a{
    text-decoration: none;
    font-size: 14px;
    color: #293031;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
}
.sec-nav{
    margin-top: 0.4rem;
    height: 3rem;
}
.second-nav{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.button{
    width: 11rem;
    height: 2.5rem;
    background-color: rgb(29, 143, 209);
    color: white;
    border-radius: 0.5rem;
    margin-left: -17rem;
    font-size: 16px;
}
.second-nav input{
    color: aqua;
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    border-color: aqua;
    margin-left: -16rem;
}
.login{
    color: gray;
    font-size: 15px;
    background-color: white;
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
}
.img1{
    width: 100%;
    overflow: hidden;
    height: 28rem;
}
.simple{
    margin-top: -1rem;
    width: 12rem;
    height: 4rem;
    margin-left: -5rem;
}
.img-content{
    display: flex;
    justify-content: space-around;
    margin-top: -23rem;
    line-height: 2rem;
}
.scnimg{
    width: 35rem;
}
.contect{
    color: white;
    margin-top: -1rem;

}
.btn{
    padding: 0.8rem;
    background-color: rgb(10, 95, 151);
    color: white;
    font-size: 1.1rem;
    width: 17rem;
    border-radius: 0.5rem;
}
.contect{
    font-size: 1.3rem;
}
.contect h1{
    line-height: 3.5rem;
}
.ftr{
    text-align: center;
    color: rgb(85, 82, 82);
}
.university{
    margin-top: 1rem;
}
.footer1{
    margin-top: 9rem;
    margin-left: 5rem;
}
.paragraph1{
    font-size: 1.7rem;
    color: rgb(59, 56, 56);
    line-height: 4rem;
}
.paragraph2{
    color: gray;
}
.list-img{
    margin-left: 5rem;
    display: flex;
    column-gap: 1.2rem;
    list-style-type: none;
    font-size: 0.9rem;
    margin-top: 2rem;
}
.three-image{
    display: flex;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: space-around;
}
.first1{
    width: 22rem;
    border-radius: 0.7rem;
}
.second2{
    width: 22rem;
    border-radius: 0.7rem;
}
.second3{
    width: 22rem;
    border-radius: 0.7rem;
}
.div1{
    height: 25rem;
    outline: 2px solid rgb(233, 229, 229);
    border-radius: 2rem;
}
.inner-content{
    width: 20rem;
    background-color:white;
    padding-left: 2rem;
    line-height: 2rem;
    margin-top: -1.8rem;
    list-style: none;
    border-color: gray;
    column-gap: 1rem;
}
.download{
    width: 10rem;
    margin-top: 1rem;
}
.date{
    color: gray;
}
.arrow{
    margin-top: 4rem;
    font-size: 3rem;
    color: gray;
}
.cpntent1{
    margin-left: 4rem;
    line-height: 1rem;
}
.archieve{
    color: gray;
}
footer{
    background-color: black;
    color: gray;
}
.footer11{
    display: flex;
    justify-content: space-around;
    color:gray;  
    margin-top: 3rem; 
}
.footer11 h5{
    color: gray;
    font-size: 0.9rem;
}
.social{
    line-height: 1rem;
}
.Refer{
    padding: 0.7rem;
    font-size: 0.8rem;
    background-color: black;
    color: gray;
}
.social-pic{
    margin-top: 1rem;
    gap: 1rem;
}
.android{
    margin-top: 2rem;
}
.App,.ios{
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 1rem;
}
.ios{
    width: 12.6rem;
}
.traing1{
    margin-left: 3rem;
}
.traing1 p{
    font-size: 0.8rem;
    line-height: 2rem;
}